[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "external/parlaylib"]
	path = external/parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
[submodule "external/BYO"]
	path = external/BYO
	url = https://github.com/wheatman/BYO.git
[submodule "external/dynconn"]
	path = external/dynconn
	url = https://github.com/ParAlg/DynamicConnectivity.git
